.team
{
    margin:75px 0;
}
 h1
 {
     text-align:center;
     font-weight:bold;
     letter-spacing:2px;
     color: #333;
     padding-bottom:10px;
 }

 h1:after
 {
     content: '';
     background: #333;
     display: block;
     height: 3px;
     width:130px;
     margin: 10px auto;
 }

 .column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(243, 247, 247);
    
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  